<p style="display:none;">User Id: <span id="user_Id">{{userId}}</span> </p>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/calendar">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/projectFormRender/{{userId}}">Add Projects</a>
      <a class="nav-item nav-link" href="/profileProjectTableRender/{{userId}}">Read Projects</a>
      <!-- <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
    </div>
  </div>
</nav>


<!-- Loop over each object in the projects array -->
   {{#each projects as |project| }}
   <p style="display:none;">Project Id: <span id="projectId">{{project.projectId}}</span></p>
   <p style="margin-top:15px; font-size:25px;">Project Name: <span>{{project.projectName}}</span></p>       
   {{/each}}


<table class="table" style="margin:15px;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Activity Id</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Date</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    {{#each activities as |activity| }}
    <tr>
      <th scope="row">{{activity.activityId}}</th>
      <td>{{activity.activityName}}</td>
      <td>{{activity.activityDescription}}</td>
      <td>{{activity.activitydeadLine}}</td>
      <td> Update Delete</td>
    </tr>
   {{/each}} 
  </tbody>
</table>