<link rel='stylesheet' href='/css/calendar.css' />
<p style="display:none;">User Id: <span id="user_Id">{{userId}}</span> </p>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/calendar">Return to Calendar <span class="sr-only"></span></a>
      </div>
  </div>
</nav>


<!-- Loop over each object in the projects array -->
   {{#each projects as |project| }}
   <p style="display:none;">Project Id: <span id="projectId">{{project.projectId}}</span></p>
   <p style="margin-top:15px; font-size:25px;">Project Name: <span>{{project.projectName}}</span></p>       
   {{/each}}


<table class="table" style="margin:15px;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Deadline</th>
      <th scope="col">Start hour</th>
      <th scope="col">End hour</th>
    </tr>
  </thead>
  <tbody>
    {{#each activities as |activity| }}
    <tr>
      <td>{{activity.name}}</td>
      <td>{{activity.description}}</td>
      <td>{{activity.deadline}}</td>
      <td>{{activity.start}}</td>
      <td>{{activity.end}}</td>
    </tr>
   {{/each}} 
  </tbody>
</table>